 <!DOCTYPE html>
<html>
<head>
    <head>
    <meta charset="utf-8" />
        <title>Page Title</title>
</head>
</head>
<body>
    <h1 {{pageTitle}}>Some website</h1>
    <p>Some text here</p>

    {{> footer}}
</body>
</html>