  <!DOCTYPE html>
<html>
<head>
    <head>
    <meta charset="utf-8" />
        <title>Page Title</title>
</head>
</head>
<body>
   {{> header}}
    <p>
        {{welComeMassage}}
    </p>
   {{> footer}}
</body>
</html>